################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Dev2Be.Toolkit/v15/Server/sqlite3/db.lock
