################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################


/src/.vs/
/src/Dev2Be.Toolkit/bin/
/src/Dev2Be.Toolkit/obj/
/src/Dev2Be.Toolkit.Tests/bin/
/src/Dev2Be.Toolkit.Tests/obj/
/src/Dev2Be.Toolkit.UI.Tests/bin
/src/Dev2Be.Toolkit.UI.Tests/obj
